<%= render "shared/navbar" %>

<div class="banner full-height full-image">
  <!-- background image -->
  <div class="banner-content">
    <h1 class="title">The Darche Side</h1>
    <div class="tagline">Conseil en stratégie(s) digitale(s) et e-commerce</div>
    <%= link_to "Passez de l'autre côté", "#", class: "yellow-button"  %>
  </div>
</div>

<div class="container">
  <div class="vision full-height">
    <div class="centered-elements">
      <div class="target text-boxes">
        <div class="lora-text">Vous aspirez à devenir le nouvel Allbirds® ?</div>
        <div class="lora-text">Vous avez un projet et cherchez de l'aide pour vous propulser vers les sommets?</div>
        <div class="lora-text">Vous avez besoin d'un nouveau souffle dans votre aventure?</div>
      </div>
      <div class="polygons">
        <%= image_tag "Polygon 1.png", alt: "yellow arrow", class: "yellow-arrow" %>
        <%= image_tag "Polygon 2.png", alt: "blue arrow", class: "blue-arrow" %>
      </div>
      <div class="ambition text-boxes">
        <h3>Mon ambition:</h3>
        <p>vous accompagner dans vos <strong>problématiques digitales</strong> (marketing, communication, produit), <br>vers l'infini et au-delà
          <br><span>
            (©Buzz l'éclair)
          </span></p>
      </div>
    </div>
    <%= link_to "En savoir plus", "#", class: "black-button"  %>
  </div>

  <div class="container-second-part">
    <div class="vision-second-part">
      <div class="left-image"></div>
      <div class="right-text-lora-italic">
        <h2>Une autre vision du conseil : de la <span>théorie</span> à la <span>pratique</span></h2>
        <p>Des idées, c'est bien. Vous aider à les mettre en pratique, c'est mieux! Je propose une stratégie pour chacun de mes clients que j'accompagne jusqu'à la mise en place opérationnelle avec des outils adaptés.</p>
      </div>
    </div>
    <%= image_tag "3108764-200.png", id: "arrow", alt: "down-arrow" %>
  </div>
</div>

<div class="yellow-background full-height">
  <div class="container">
    <h2 class="ultra-title">Mon champ d'intervention</h2>
    <div class="cards">
      <div class="card right-margin">
        <div class="top-elements">
          <h3>Construction</h3>
          <div class="icon"></div>
          <%#= image_tag "#", alt: "alttext", class: "icon" %>
        </div>
        <div class="bottom-text">
          <div class="italic-lora">Vous avez une idée mais cherchez comment la concrétiser? Je vous aiderai à développer les outils pour lui donner vie.</div>
          <ul class="bold-centered-lora">
            <li>analyses et études de marché</li>
            <li>stratégie et plan de lancement</li>
            <li>vitrine digitale</li>
          </ul>
        </div>
      </div>
      <div class="card right-margin">
        <div class="top-elements">
          <h3>Propulsion</h3>
          <div class="icon"></div>
          <%#= image_tag "#", alt: "alttext", class: "icon" %>
        </div>
        <div class="bottom-text">
          <div class="italic-lora">Vous êtes prêt à décoller mais restez en attente d'instructions? Ne soyez pas inquiets : je vous accompagnerai pour mettre en place les actions qui boosteront votre notoriété et votre engagement!</div>
          <ul class="bold-centered-lora">
            <li>partenariats</li>
            <li>stratégie réseaux sociaux</li>
            <li>marketing d'influence</li>
            <li>événementiel</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="top-elements">
          <h3>Mise en orbite</h3>
          <div class="icon"></div>
          <%#= image_tag "#", alt: "alttext", class: "icon" %>
        </div>
        <div class="bottom-text">
          <div class="italic-lora">Vous avez lancé votre projet mais souhaitez un coup de main pour parfaire sa trajectoire ? Je vous assisterai quotidiennement pour la réussite de l'opération.</div>
          <ul class="bold-centered-lora">
            <li>création de contenus</li>
            <li>élaboration de supports de communication</li>
            <li>formation et workshops</li>
          </ul>
        </div>
      </div>
    </div>
    <%= link_to "Parlons de votre projet !", "#", class: "yellow-button" %>
  </div>
</div>

<div class="milky-banner full-height full-image">
  <div class="container">

    <h2 class="ultra-title">Ma feuille de route</h2>
    <div class="long-cards">

      <div class="long-card">
        <div class="yellow-circle">1</div>
        <div class="white-transparent-rectangle">
          <h3>vous écouter</h3>
          <p>Pour mieux vous challenger et faire rayonner votre projet.</p>
        </div>
      </div>
      <div class="long-card">
        <div class="yellow-circle">2</div>
        <div class="white-transparent-rectangle">
          <h3>vous comprendre</h3>
          <p>Chaque projet est unique et évolue dans une galaxie dans laquelle je vous aiderai à naviguer.</p>
        </div>
      </div>
      <div class="long-card">
        <div class="yellow-circle">3</div>
        <div class="white-transparent-rectangle">
          <h3>vous conseiller </h3>
          <p>J'apporterai un nouveau regard pour définir et mettre en place ensemble les solutions qui conviennent. </p>
        </div>
      </div>
      <div class="long-card">
        <div class="yellow-circle">4</div>
        <div class="white-transparent-rectangle">
          <h3>vous former</h3>
          <p>Vous transmettre toutes connaissances aptes à vous rendre autonome pour piloter le vaisseau.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="inner-link">
    <%= link_to "Dessinons la vôtre", '#'  %>
  </div>
</div>

<div class="container full-height" id="bio-container">
  <h2 class="ultra-title" id="mask-title">Derrière le masque</h2>
  <div class="bio">
    <p>Diplômée d'HEC avec un master en marketing et en digital, j'évolue depuis 8 ans dans un environnement international, entre grands groupes (Danone, Coty, Webedia) et startups à succès (Birchbox, Sézane). J'y ai développé une expertise en marketing, communication, gestion de projets et développement de marques, avec une spécialité pour les Direct to consumers brands et le marketing d'influence. En parallèle de mon activité (The Darche Side), j'assure des formations intensives (9 semaines) pour le développement d'applications web (Ruby on rails, HTML, CSS et JS) au sein du <%= link_to "Wagon", "https://www.lewagon.com", target: "blank" %>. </p>
    <div id="profile-pic" class="full-image" alt="Louise Darche"></div>
    <%#= image_tag "profile.png", alt: "profile picture" %>
  </div>
  <%= link_to "Rencontrons-nous 🚀", "#", class: "yellow-button"  %>
</div>

<a name="contact_form"></a>
<div class="contact-form full-image">
  <div class="container">
    <h2 class="ultra-title">Contact</h2>
    <div class="contact-container">
      <div class="contact-information half-screen">
        <%= render "shared/form", visitor: @visitor %>
        <div class="contact-form-inputs">
          <div class="input" id="name-input"></div>
          <div class="input" id="email-input"></div>
          <div class="input" id="message-input"></div>
        </div>
        <div class="black-button">Soumettre</div>
        <%= @notification %>
      </div>
      <div class="yellow-line"></div>
      <div class="address-email half-screen">
        <div class="info">
          <div class="circle"><i class="fas fa-map-marker-alt"></i></div>
          <div class="address">Paris, France</div>
        </div>
        <div class="info">
          <div class="circle"><i class="fas fa-envelope"></i></div>
          <div class="address"><%= mail_to "contact@thedarcheside.com" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
